<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>02</title>
	<script src="vue.js"></script>
</head>
<body>
	<div id="app"></div>
	<script>
		new Vue({
			el: '#app',
			template: `
			<div>
				<div v-text='mytest'></div>
				<div>{{mytest}}</div>
				<div v-html='myhtml'></div>
				<button v-if="vif">v-if</button>
				<button v-show="vshow">vshow</button>
				<ul>
					<li v-for="(item,index) in arr">{{item}}-{{index+1}}</li>
				</ul>
				<ul>
					<li v-for="(item,key) in obj">{{key}}:{{item}}</li>
				</ul>
			</div>`,
			data() {
				return {
					mytest: '<h3>这里是v-test</h3>',
					myhtml: '<h3>这里是v-html</h3>',
					vif: true,
					vnum: 1,
					vshow: true,
					arr: ['name1','name2','name3'],
					obj: {
						name: 'yao',
						project: 'basekateball',
						age: '11'
					}
				}
			}
		})
	</script>
</body>
</html>
